main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}

.container-card {
    flex: 2;
    margin-left: 3%;
}

.card {
    background-color: rgba(120, 92, 186, 0.39);
    border-radius: 5px 5px 13px 13px;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 98%;
}

#card-itens {
    display: flex;
    border-radius: 10px;
    margin-left: 4.8%;
    background-color: white;
    width: 91%;
    margin-bottom: 3%;
}

.products {
    display: flex;
    align-items: center;
    gap: 60px;
}

#productImage{
    width: 90px;
    height: auto;
    border-radius: 10px;
}

#productDetails{
    width: 100%;
    color: rgb(88, 88, 88);
}

#productPrice{
    font-size: medium;
}

.products i{
    font-size: medium;
}

.amount{
    display: flex;
    align-items: center;
    width: 13%;
    gap: 5px;
}

.amount button, .products button{
    border: none;
    background-color: transparent;
    color: rgba(79,32,150,255);
    font-size: 20px;
    cursor: pointer;
}

.amount input{
    text-align: center;
    width: 20%;
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 5px;
}

#delete:hover, .amount button:hover{
    color: #5124949c;
}

.container-aside {
    flex: 1;
    margin-right: 3%;
}

aside {
    background-color: rgba(120, 92, 186, 0.39);
    border-radius: 5px 5px 13px 13px;
    padding: 20px;
}

.cep, .order-summary , .cupom {
    background-color: white;
    margin-top: 2%;
    padding: 5%;
    border-radius: 10px;
    width: 90%;
}


.cep button, .cupom button{
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(245, 229, 253, 255);
    border-color: rgba(234, 216, 250, 255);
    color: rgba(120, 92, 186, 255);
    margin-left: 5%;
    font-size: large;
    padding: 3%;
}

.cep button:hover, .cupom button:hover{
    background-color: #f5e5fd7a;
}

.cep input, .cupom input{
    border-radius: 8px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: large;
    width: 70%;
    border-color: rgba(128, 128, 128, 0.514);
}

.order-itens{
    background-color: #f3eee84b;
    padding: 5%;
    border-radius: 10px;
}

.order-content{
    display: flex;
    justify-content: space-between;
}


#pay{
    margin-top: 3%;
    background-color: #49a971;
    color: white;
    border: 0;
    width: 90%;
    margin-left: 5%;
    font-size: large;
    padding: 1% 0% 1% 0%;
    border-radius: 5px;
    cursor: pointer;
}
#pay:hover{
    background-color: #49a97194;
}

/*Ajuste do site para notbooks*/
@media only screen and (max-width: 1728px){
    .card{
        width: auto;
    }

    #productImage{
        width: 50px;
        height: auto;
    }
    
    #productDetails{
        font-size: smaller;
    }
    #productPrice{
        font-size: smaller;
    }

    .amount input{
        width: 2em;
        font-size: small;
    }

    aside{
        margin-left: 10%;
        width: 90%;
    }

    .cep, .order-summary{
        width: 90%;
        height: auto;
    }

    .cep input, .cupom input{
        width: 70%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: small;
    }
    .cep button, .cupom button{
        font-size: small;
    }
    .text-address{
        font-size: 14px;
    }
}

/*Ajuste do site para celulares*/
@media only screen and (max-width: 430px){
    main{
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
    }

    .container-card, .container-aside{
        width: 100%;
        margin: 0;
    }

    .card, aside{
        margin: 0;
        width: auto;
        margin-bottom: 5%;
    }

    #card-itens{
        width: 100%;
        margin-left: 1%;
    }

    .products{
        flex-wrap: wrap;
    }

    #productDetails{
        font-size: medium;
    }
}